html,body
{
  min-width: 490px;
  font-family: "Montserrat, sans-serif";
}


p {
  
  font-weight: 200;
  font-size:20px;
  line-height:29px;
  letter-spacing: 2px;
}

h1{

  font-weight: 700;
  font-size:5.9vw;
  line-height:1.5;

}
h2{
  font-weight: 700;
  line-height:1.5;
}

h5{
    color:#8f8f8f8f;
}

/* title section */
#title {
  background-color:#222831;
}

.btn-md{
  font-size: 13px;
  color: rgba(58, 133, 191, 0.75);
  border: 2px solid;
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.navbar-brand{
  padding-left:10%;

}
.navbar-item{
  text-align:center;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color:#252A34;
    border-color:#f1f1f1;
    padding:1% 3%;
  
}



.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
}



.container-fluid{
  padding:3% 15%;

}



.drop-down{
  position: absolute;
  z-index:2;
  width:100%
  
}

.video-title {
  text-align:center;
  position: relative;
  padding-top:80px;
  z-index:0;
  overflow: hidden;
}

.wave-video{
  width:100%;
  
}


.title-video-text{
  position: absolute;
  color: #f1f1f1;
  z-index:1;
  left: 0px;
  top: 40%;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow: hidden;
}
.contact-button{
  padding:5%;
}

/* About me */

.about-me-text{
  color:#262728;

}
.profile-picture{
  width:50%;
  height:50%;
  border-radius: 20px;
}
#about-page{
  padding:7% 5%;
  text-align:center;
 
}


/* Skills */
#skills{
  padding:3%;
  background-color:#222831;

}
.skill-icon{
  text-align:center;
}

.fab, .fas{
  color:#393E46;
  padding:7% 15%;
}
.fab:hover, .fas:hover{
   color:#EEEEEE;
}

/* work */

#works{
  padding-top:20px;
  text-align:center;
}


:root {
  --spinner-color: #FFE652; 
}


.spinning-circle {
  width: 35em;
  height: 35em;
  border: 2px solid transparent;
  border-top-color: var(--spinner-color);
  border-bottom-color: var(--spinner-color);
  transform-origin: center;
  position:relative;
  border-radius: 70%;
  animation: spin 4s alternate ease-in-out infinite;
  z-index: -1;

}
@media (max-width:1400px)
{
  .spinning-circle{
 width: 30em;
height: 30em;
  }
}

@media (max-width:1200px)
{
  .spinning-circle{
 width: 25em;
height: 25em;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg) scale(1);
  
  }
  from {
    transform: rotate(0) scale(.95);
  }
}

.work-page{
  padding: 2%;
  margin-left: auto;
  margin-right: auto;
}

.btn-group{
  padding:2% 0;
}

/* 
projects icon */


a.btn-project-icon,
.btn-project-icon
{
    border-radius: 50%;
    color: #ffffff !important;
    display: inline-block;
    height: 54px;
    line-height: 54px;
    margin: 8px 10px;
    text-align: center;
    text-decoration: none;
    transition: background-color .3s;
    width: 54px;
    border: none; 
    outline:none;

}

.btn-project-icon .fa,.btn-project-icon i
{
    backface-visibility: hidden;
    transform: scale(1);
    transition: all .25s;
  
}
.btn-project-icon:hover,.btn-project-icon:focus
{
    color: #fff;
    outline: none;
    text-decoration: none;
}
.btn-project-icon:hover .fa,.btn-project-icon:focus .fa,.btn-project-icon:hover i,.btn-project-icon:focus i
{
 
    transform: scale(1.3);
}


.btn-project-1
{
    background-color: #4c70ba;
}
.btn-project-1:hover
{
    background-color: #4c70ba;

}

.btn-project-2
{
    background-color: #FFE6BC;
}
.btn-project-2:hover
{
    background-color: #E4CDA7;

}
.btn-project-3
{
    background-color: #FFE6BC;
}
.btn-project-3:hover
{
    background-color: #E4CDA7;

}
.btn-project-4
{
    background-color: #FFE6BC;
}
.btn-project-4:hover
{
    background-color: #E4CDA7;

}
.btn-project-5
{
    background-color: #FFE6BC;
}
.btn-project-5:hover
{
    background-color: #E4CDA7;

}

.project-videos{
  position:relative;
  width:80%;
  height: 300px;
  object-fit: cover;
  border-radius: 15px 50px; 
}

@media (max-width:990px)
{
.project-videos
{
  display:none;

  }
}

/* contact section */

#contact{
   background: #393E46;
   margin-top:80px;
}


.thm-container {
    width: 100%;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
   
}

.contact-form-content {
    
    padding: 80px 0;
    padding-left: 80px;
    padding-right: 80px;
}

.thm-container .title {
    margin-bottom: 50px;
}

.thm-container .title span {
    font-size: 20px;
    color: #00ADB5;
}

.thm-container .title h2 {
    color: #EEEEEE;
    font-size: 60px;
    line-height: 60px;
    font-weight: bold;
}

.contact-form input, 
.contact-form textarea {
    border: none;
    outline: none;
    width: 100%;
    height: 68px;
    border-radius: 35px;
    background: #fff;
    color: #757575;
    font-size: 16px;
    padding-left: 50px;
    margin-bottom: 20px;
    display: block;
}

.contact-form textarea {
    height: 182px;
    padding-top: 20px;
}

.thm-btn {
    border: none;
    outline: none;
    display: inline-block;
    vertical-align: middle;
    background: #00ADB5;
    color: #212121;
    border-radius: 35px;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 16px;
    padding: 18px 69px;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.contact-text{
  color:#212121;
}




/* footer section */
#footer{
  text-align:center;
  padding: 3% 0 3%;
}
